version: "3.9"

services:
  web:
    image: farhod2007/chatapp:latest
    env_file:
      - .env
    volumes:
      - static_volume:/Dop/staticfiles
      - media_volume:/Dop/mediafiles
    ports:
      - "8001:8000"
    depends_on:
      chat_db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: always

  chat_db:
    image: postgis/postgis:17-3.5
    container_name: chatapp_db
    environment:
      POSTGRES_DB: chat
      POSTGRES_USER: user_chat
      POSTGRES_PASSWORD: password_chat
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_chat -d chat"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:alpine
    container_name: chatapp_redis
    ports:
      - "6376:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
